
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Imposta il font per il corpo */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2vw !important; /* Dimensione del font per schermi ancora più grandi */

}
body * {
  font-size: 2vw !important; /* Dimensione del font per schermi ancora più grandi */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --main-green: #83B271;  /* Verde principale */
  --main-black: #343A40;  /* Nero principale */
}

