# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
/db.sqlite3
/staticfiles/

# React
frontend/node_modules/
frontend/build/
frontend/static/frontend/main.js
frontend/static/frontend/main.css
# Environment Variables
.env

# Virtual Environment
venv/
