.login-container {
    padding: 20px;
    border: 2px solid var(--main-green);
    border-radius: 10px; /* Angoli arrotondati */
    background-color: #f9f9f9; /* Sfondo chiaro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombra leggera */
    max-width: 400px; /* Larghezza massima */
    margin: auto; /* Centra il contenitore */
    transition: transform 0.2s; /* Transizione per l'hover */
}

.login-container:hover {
    transform: scale(1.02); /* Effetto di ingrandimento al passaggio del mouse */
}
